# Compiled objects.
/discontinued/*/target
/*/target
/target

# OS-Specific junk.
.DS_Store

# Eclipse IDE
/discontinued/*/eclipse
/discontinued/*/.settings
/discontinued/*/.refactorings
/*/eclipse
/*/.settings
/*/.refactorings

# IntelliJ IDEA IDE
/.idea
*.iml

# Netbeans IDE
/build.xml
/build
/dist
/manifest.mf
/nbproject
