# Compiled objects.
/*/target
/target

# OS-Specific junk.
.DS_Store

# Eclipse IDE
/*/eclipse
/*/.classpath
/*/.project
/*/.settings
/*/.refactorings

# IntelliJ IDEA IDE
/.idea
*.iml

# Netbeans IDE
/build.xml
/build
/dist
/manifest.mf
/nbproject
