# Compiled objects.
/*/target

# Packaged objects.
.svn

# Ant
/*/build.xml

# Eclipse IDE
/*/.classpath
/*/.project
/*/.settings

# Netbeans IDE
/build-before-profiler.xml
/build.xml
/build
/dist
/manifest.mf
/nbproject
